/* fonts */
@font-face {
    font-family: 'AzoSans-Medium';
    src: url('../fonts/azo/AzoSans-Medium.otf');
}

@font-face {
    font-family: 'AzoSans-Bold';
    src: url('../fonts/azo/AzoSans-Bold.otf');
}

@font-face {
    font-family: 'AzoSans-Light';
    src: url('../fonts/azo/AzoSans-Light.otf');
}

/* Color palette */
:root {
    --white: #ffffff;
    --marine-blue: #003f6d;
    --light-navy: #17396b;
}

/******** GENERAL ELEMENTS **********/
.titulos-categorias {
    font-family: AzoSans-Medium;
    text-transform: uppercase;
}

.sub-nav-cat {
    background-color: #17396b;
    height: 53px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 10px;
    display: block;
    /*position: fixed;*/
}

.list-cat p {
    font-family: AzoSans-Light;
    text-transform: uppercase;
}

.list-cat p > a {
    color: #ffffff;
    padding: 0px 15px;
    text-decoration: none;
}

a.ver-todo-outline-btn, a.ver-todo-outline-btn:hover, a.ver-todo-outline-btn:focus {
    width: 140px;
    height: 30px;
    font-family: AzoSans-Medium;
    padding: 6px 33px 3px 32px;
    text-decoration: inherit;
}

/* ******************** SUB-CATEGORIAS ************************ */
.sub-cat-img {
    padding-top: 97px;
}

.sub-cat-description {
    width: 215px;
    height: 38px;
    background-color: #003f6d;
    opacity: 0.8;
    display: block;
}

.sub-cat-description-xl {
    width: 255px;
    height: 38px;
    background-color: #003f6d;
    opacity: 0.8;
}

.sub-cat-description p, .sub-cat-description-xl p {
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 12px 12px;
}

.double-line p {
    padding-top: 0px;
    padding-bottom: 0px;

}

span.plus-outline-btn {
    width: 35px;
    height: 27px;
    border: 1px #ffffff solid;
    text-decoration: inherit;
    background-color: #0d1e38;
    color: #ffffff;
    font-size: 24.5px;
    line-height: 0.55;
    padding-top: 4px;
    padding-left: 10px;
    margin: 5px 6px;
}

@media (min-width: 320px) {
    .header-cat {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header-xs.png") no-repeat center;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0.85))), url("../img/img-header-xs.png") no-repeat center;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header-xs.png") no-repeat center;
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header-xs.png") no-repeat center;
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header-xs.png") no-repeat center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header-xs.png") no-repeat center;
        height: 380px;
    }

    .img-logo {
        padding-top: 169px;
        padding-bottom: 50px;
    }

    .list-inline > li {
        padding-right: 0px;
        padding-left: 0px;
    }

    .list-cat p {
        font-weight: bold;
        font-size: 10px;
    }

    .list-cat p > a {
        padding: 0px 1px;
    }

    .stick {
        margin-top: 0px !important;
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    .titulos-categorias {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.04;
        color: #003f6d;
        margin: 42px auto 15px;
    }

    .titulos-categorias-odd {
        color: #ffffff;
    }

    .lavavajillas-cat {
        background: url("../img/img-lavavajillas.png") no-repeat center;
    }

    a.ver-todo-outline-btn, a.ver-todo-outline-btn:hover, a.ver-todo-outline-btn:focus {
        border: 1px #003f6d solid;
        text-transform: uppercase;
        background-color: inherit;
        color: #003f6d;
    }

    a.ver-producto-btn-odd {
        color: #ffffff;
        border: 1px #ffffff solid;
    }

    .cat {
        height: 155px;
    }

    .cat-footer {
        height: 285px;
        padding-bottom: 30px;
    }

    .odd {
        background-color: #e6ebef;
    }

    .sub-cat {
        height: 135px;
        width: 450px;
        margin-bottom: 15px;
    }

    .sub-cat-xs {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: right;
    }

    .sub-cat-xs-left {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: left;
    }

    .productos-cat {
        /*padding-top: 48px;*/
        padding-bottom: 33px;
    }

    p.ver-producto-btn {
        font-family: AzoSans-Medium;
        text-decoration: inherit;
        text-transform: uppercase;
        background-color: #003f6d;
        color: #ffffff;
        height: 27px;
        width: 167px;
        padding-top: 7px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
        font-size: small;
    }

    .tarjeta-credito {
        background: url("../img/img-tarjeta.png");
        display: inline-block;
        /*margin-top: 5px;*/
        height: 18px;
        width: 24px;
    }

    .productos-slider {
        /*padding: 0px 0px 0px 40px;*/
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .productos-slider-odd {
        /*padding: 0px 40px 0px 0px;*/
        margin-bottom: 20px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .slick-slider {
        padding-left: 15px;
    }

    /*Refrigerador items*/
    .slider-item-refrigerador-1 {
        /*background: url("https://imagenes.paris.cl/is/image/Cencosud/966764-999-001?id=7RGRb0&wid=250&hei=420&fmt=jpg");*/
        background: url("../img/refrigerador/Mobile/966764-999-001.png");
        width: 250px;
    }

    .slider-item-refrigerador-2 {
        /*background: url("https://imagenes.paris.cl/is/image/Cencosud/123728-999-001?id=wJ5Sz0&wid=250&hei=420&fmt=jpg");*/
        background: url("../img/refrigerador/Mobile/123728-999-001.png");
        width: 250px;
    }

    .slider-item-refrigerador-3 {
        /*background: url("https://imagenes.paris.cl/is/image/Cencosud/753806-999?id=wJ5Sz0&wid=250&hei=420&fmt=jpg");*/
        background: url("../img/refrigerador/Mobile/753806-999.png");
        width: 250px;
    }

    .slider-item-refrigerador-4 {
        /*background: url("https://imagenes.paris.cl/is/image/Cencosud/966762-999-001?id=Q0FQV1&wid=250&hei=420&fmt=jpg");*/
        background: url("../img/refrigerador/Mobile/966762-999-001.png");
        width: 250px;
    }

    /*cocina items*/
    .slider-item-cocina-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/915983-999-001?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-cocina-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/916018-999-001?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-cocina-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/559030-999-001?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    /*electrodomesticos items*/
    .slider-item-electrodomesticos-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/715431-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-electrodomesticos-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/122923-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-electrodomesticos-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/405075-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    /*menaje items*/
    .slider-item-menaje-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/460249-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-menaje-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/530521-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-menaje-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/848703-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    .slider-item-menaje-4 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/402267-999?id=Q0FQV1&wid=250&hei=420&fmt=jpg");
        width: 250px;
    }

    /*refrigeradores sub-cat*/
    .sub-cat-img-refigeradores-1 {
        background: url("../img/img-side-by-side.png") no-repeat;
    }

    .sub-cat-img-refigeradores-2 {
        background: url("../img/img-no-frost.png") no-repeat;
    }

    .sub-cat-img-refigeradores-3 {
        background: url("../img/img-frio-directo.png") no-repeat;
    }

    /* ********** cocina sub-cat ********** */
    .sub-cat-img-cocina-1 {
        background: url("../img/img-hornos.png") no-repeat;
    }

    .sub-cat-img-cocina-2 {
        background: url("../img/img-encimeras.png") no-repeat;
    }

    .sub-cat-img-cocina-3 {
        background: url("../img/img-campanas.png") no-repeat;
    }

    /* ********** electrodomesticos sub-cat ********** */
    .sub-cat-img-electrodomesticos-1 {
        background: url("../img/img-microondas.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-2 {
        background: url("../img/img-cafeteras.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-3 {
        background: url("../img/img-horno-electrico-xs.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-4 {
        background: url("../img/img-batidoras-xs.png") no-repeat;
    }

    /* ********** menaje sub-cat ********** */
    .sub-cat-img-menaje-1 {
        background: url("../img/img-ollas.png") no-repeat;
    }

    .sub-cat-img-menaje-2 {
        background: url("../img/img-sartenes.png") no-repeat;
    }

    .sub-cat-img-menaje-3 {
        background: url("../img/img-reposteria-xs.png") no-repeat;
    }

    .sub-cat-img-menaje-4 {
        background: url("../img/img-utensilios-xs.png") no-repeat;
    }

}

@media (min-width: 365px) {
    .list-cat p > a {
        padding: 0px 8px;
    }
}

@media (min-width: 768px) {
    .header-cat {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header.png") no-repeat right;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0.85))), url("../img/img-header.png") no-repeat right;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header.png") no-repeat right;
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header.png") no-repeat right;
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header.png") no-repeat right;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/img-header.png") no-repeat right;
        height: 380px;
    }

    .img-logo {
        padding-top: 149px;
        padding-bottom: 50px;
    }

    .list-cat p {
        font-weight: bold;
        font-size: 14px;
    }

    .stick {
        margin-top: 0px !important;
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    .titulos-categorias {
        font-size: 39px;
        font-weight: 500;
        line-height: 1.04;
        color: #003f6d;
        margin: 42px auto 15px;
    }

    .titulos-categorias-odd {
        color: #ffffff;
    }

    .lavavajillas-cat {
        background: url("../img/img-lavavajillas.png") no-repeat center;
    }

    a.ver-todo-outline-btn, a.ver-todo-outline-btn:hover, a.ver-todo-outline-btn:focus {
        border: 1px #003f6d solid;
        text-transform: uppercase;
        background-color: inherit;
        color: #003f6d;
        margin-bottom: 10px;
    }

    a.ver-producto-btn-odd {
        color: #ffffff;
        border: 1px #ffffff solid;
    }

    .cat {
        height: 170px;
    }

    .cat-footer {
        height: 285px;
    }

    .odd {
        background-color: #e6ebef;
    }

    .sub-cat {
        height: 135px;
        width: 450px;
        margin-bottom: 15px;
    }

    .sub-cat-xs {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: right;
    }

    .sub-cat-xs-left {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: left;
    }

    .productos-cat {
        /*padding-top: 48px;*/
        padding-bottom: 33px;
    }

    p.ver-producto-btn {
        font-family: AzoSans-Medium;
        text-decoration: inherit;
        text-transform: uppercase;
        background-color: #003f6d;
        color: #ffffff;
        height: 27px;
        width: 167px;
        padding-top: 7px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
        font-size: small;
    }

    .tarjeta-credito {
        background: url("../img/img-tarjeta.png");
        display: inline-block;
        /*margin-top: 5px;*/
        height: 18px;
        width: 24px;
    }

    .productos-slider {
        /*padding: 0px 0px 0px 40px;*/
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .productos-slider-odd {
        /*padding: 0px 40px 0px 0px;*/
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .slick-slider {
        padding-left: 10px;
    }

    /*Refrigerador items*/
    .slider-item-refrigerador-1 {
        background: url("../img/refrigerador/Desktop-Tablet/966764-999-001.png");
        width: 290px;
    }

    .slider-item-refrigerador-2 {
        background: url("../img/refrigerador/Desktop-Tablet/123728-999-001.png");
        width: 290px;
    }

    .slider-item-refrigerador-3 {
        background: url("../img/refrigerador/Desktop-Tablet/753806-999.png");
        width: 290px;
    }

    .slider-item-refrigerador-4 {
        background: url("../img/refrigerador/Desktop-Tablet/966762-999-001.png");
        width: 290px;
    }

    /*cocina items*/
    .slider-item-cocina-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/915983-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-cocina-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/916018-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-cocina-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/559030-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    /*electrodomesticos items*/
    .slider-item-electrodomesticos-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/715431-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-electrodomesticos-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/122923-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-electrodomesticos-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/405075-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    /*menaje items*/
    .slider-item-menaje-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/460249-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-menaje-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/530521-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-menaje-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/848703-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    .slider-item-menaje-4 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/402267-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 290px;
    }

    /*refrigeradores sub-cat*/
    .sub-cat-img-refigeradores-1 {
        background: url("../img/img-side-by-side.png") no-repeat;
    }

    .sub-cat-img-refigeradores-2 {
        background: url("../img/img-no-frost.png") no-repeat;
    }

    .sub-cat-img-refigeradores-3 {
        background: url("../img/img-frio-directo.png") no-repeat;
    }

    /* ********** cocina sub-cat ********** */
    .sub-cat-img-cocina-1 {
        background: url("../img/img-hornos.png") no-repeat;
    }

    .sub-cat-img-cocina-2 {
        background: url("../img/img-encimeras.png") no-repeat;
    }

    .sub-cat-img-cocina-3 {
        background: url("../img/img-campanas.png") no-repeat;
    }

    /* ********** electrodomesticos sub-cat ********** */
    .sub-cat-img-electrodomesticos-1 {
        background: url("../img/img-microondas.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-2 {
        background: url("../img/img-cafeteras.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-3 {
        background: url("../img/img-horno-electrico.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-4 {
        background: url("../img/img-batidoras.png") no-repeat;
    }

    /* ********** menaje sub-cat ********** */
    .sub-cat-img-menaje-1 {
        background: url("../img/img-ollas.png") no-repeat;
    }

    .sub-cat-img-menaje-2 {
        background: url("../img/img-sartenes.png") no-repeat;
    }

    .sub-cat-img-menaje-3 {
        background: url("../img/img-reposteria.png") no-repeat;
    }

    .sub-cat-img-menaje-4 {
        background: url("../img/img-utensilios.png") no-repeat;
    }

}

@media (min-width: 992px) {
    .header-cat {
        background: url("../img/img-header.png") no-repeat right;
        height: 380px;
    }

    .img-logo {
        padding-top: 129px;
    }

    .stick {
        margin-top: 0 !important;
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    .titulos-categorias {
        font-size: 62px;
        font-weight: 500;
        line-height: 1.04;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .titulos-categorias-odd {
        color: #ffffff;
    }

    a.ver-todo-outline-btn, a.ver-todo-outline-btn:hover, a.ver-todo-outline-btn:focus {
        border: 1px #ffffff solid;
        text-transform: uppercase;
        background-color: inherit;
        color: #ffffff;
        margin-bottom: 0px;
    }

    .list-cat p {
        font-weight: bold;
        font-size: 1.2em;
        margin-right: 20px;
    }

    .list-cat p > a {
        color: #ffffff;
        padding: 0px 15px;
        text-decoration: none;
    }

    .cat {
        height: 215px;
        padding-top: 80px;
    }

    .odd {
        background-color: #ffffff;
    }

    .cat-footer {
        height: 285px;
        padding-top: 80px;
    }

    /* *********** CATEGORIAS ************** */
    .refrigeradores-cat {
        background: url("../img/img-refrigeradores.png") no-repeat center;
    }

    .cocinas-cat {
        background: url("../img/img-cocinas.png") no-repeat center;
    }

    .electrodomesticos-cat {
        background: url("../img/img-electrodomesticos.png") no-repeat center;
    }

    .menaje-cat {
        background: url("../img/img-menaje.png") no-repeat center;
    }

    .lavavajillas-cat {
        background: url("../img/img-lavavajillas.png") no-repeat center;
    }

    .productos-cat {
        height: 530px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .sub-cat {
        height: 135px;
        width: 450px;
        margin-bottom: 15px;
    }

    .sub-cat-xs {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: right;
    }

    .sub-cat-md {
        height: 135px;
        width: 180px;
        margin-bottom: 15px;
        float: right;
    }

    .sub-cat-xs-left {
        height: 135px;
        width: 220px;
        margin-bottom: 15px;
        float: left;
    }

    .sub-cat-md-left {
        height: 135px;
        width: 180px;
        margin-bottom: 15px;
        float: left;
    }

    .sub-cat-description-md {
        width: 180px;
        height: 38px;
        background-color: #003f6d;
        opacity: 0.8;
        display: block;
    }

    .sub-cat-description-md p {
        text-transform: uppercase;
        color: #ffffff;
        padding: 10px 12px 12px;
    }

    p.ver-producto-btn {
        font-family: AzoSans-Medium;
        text-decoration: inherit;
        text-transform: uppercase;
        background-color: #003f6d;
        color: #ffffff;
        height: 27px;
        width: 167px;
        padding-top: 7px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
        font-size: small;
    }

    .tarjeta-credito {
        background: url("../img/img-tarjeta.png");
        display: inline-block;
        /*margin-top: 5px;*/
        height: 18px;
        width: 24px;
    }

    .productos-slider {
        padding: 0px 0px 0px 40px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .productos-slider-odd {
        padding: 0px 40px 0px 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .slick-slider {
        padding-left: 10px;
    }

    /*Refrigerador items*/
    .slider-item-refrigerador-1 {
        background: url("../img/refrigerador/Desktop-Tablet/966764-999-001.png");
        width: 290px;
    }

    .slider-item-refrigerador-2 {
        background: url("../img/refrigerador/Desktop-Tablet/123728-999-001.png");
        width: 290px;
    }

    .slider-item-refrigerador-3 {
        background: url("../img/refrigerador/Desktop-Tablet/753806-999.png");
        width: 290px;
    }

    .slider-item-refrigerador-4 {
        background: url("../img/refrigerador/Desktop-Tablet/966762-999-001.png");
        width: 290px;
    }

    /*cocina items*/
    .slider-item-cocina-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/915983-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-cocina-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/916018-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-cocina-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/559030-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    /*electrodomesticos items*/
    .slider-item-electrodomesticos-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/715431-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-electrodomesticos-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/122923-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-electrodomesticos-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/405075-999-001?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    /*menaje items*/
    .slider-item-menaje-1 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/460249-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-menaje-2 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/530521-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-menaje-3 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/848703-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    .slider-item-menaje-4 {
        background: url("https://imagenes.paris.cl/is/image/Cencosud/402267-999?id=Q0FQV1&wid=290&hei=440&fmt=jpg");
        width: 282px;
    }

    /*refrigeradores sub-cat*/
    .sub-cat-img-refigeradores-1 {
        background: url("../img/img-side-by-side.png") no-repeat;
    }

    .sub-cat-img-refigeradores-2 {
        background: url("../img/img-no-frost.png") no-repeat;
    }

    .sub-cat-img-refigeradores-3 {
        background: url("../img/img-frio-directo.png") no-repeat;
    }

    /* ********** cocina sub-cat ********** */
    .sub-cat-img-cocina-1 {
        background: url("../img/img-hornos.png") no-repeat;
    }

    .sub-cat-img-cocina-2 {
        background: url("../img/img-encimeras.png") no-repeat;
    }

    .sub-cat-img-cocina-3 {
        background: url("../img/img-campanas.png") no-repeat;
    }

    /* ********** electrodomesticos sub-cat ********** */
    .sub-cat-img-electrodomesticos-1 {
        background: url("../img/img-microondas.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-2 {
        background: url("../img/img-cafeteras.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-3 {
        background: url("../img/img-horno-electrico.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-3-md {
        background: url("../img/img-horno-electrico-md.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-4 {
        background: url("../img/img-batidoras.png") no-repeat;
    }

    .sub-cat-img-electrodomesticos-4-md {
        background: url("../img/img-batidoras-md.png") no-repeat;
    }

    /* ********** menaje sub-cat ********** */
    .sub-cat-img-menaje-1 {
        background: url("../img/img-ollas.png") no-repeat;
    }

    .sub-cat-img-menaje-2 {
        background: url("../img/img-sartenes.png") no-repeat;
    }

    .sub-cat-img-menaje-3 {
        background: url("../img/img-reposteria.png") no-repeat;
    }

    .sub-cat-img-menaje-4 {
        background: url("../img/img-utensilios.png") no-repeat;
    }

    .sub-cat-img-menaje-3-md {
        background: url("../img/img-reposteria-md.png") no-repeat;
    }

    .sub-cat-img-menaje-4-md {
        background: url("../img/img-utensilios-md.png") no-repeat;
    }

}

/* ************ Slick carousel  ************************************************************** */
a.img-slider {
    text-decoration: inherit;
}

.slider-item {
    margin-right: 20px;
    /*margin-left: 20px;*/
    height: 435px;
    padding-top: 280px;
}

.slider-item-container {
    background-color: #ffffff;
    opacity: 0.8;
    height: 155px;
}

.slider-item-container > .slider-item-description {
    padding: 12px 12px 10px;
    opacity: 1.0;
}

p.slider-item-brand {
    font-family: AzoSans-Bold;
    text-transform: uppercase;
    color: #17396b;
    margin-bottom: 1px;
    font-size: 12px;
}

.slider-item-text {
    height: 60px;
}

.slider-item-text > p {
    font-family: AzoSans-Light;
    text-transform: uppercase;
    color: #17396b;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

p.slider-item-price {
    font-family: AzoSans-Bold;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 1 !important;
}

.normal-price {
    color: #17396b;
}

.important-price {
    color: #ff6000;
}

.slick-prev:before, .slick-next:before {
    color: #454f52;
    font-size: 33px;
}